@{
    ViewBag.Title = "Geen tickets"; 
}

<p>Er zijn geen tickets meer voor de door uw gekozen ticket.</p>

@Html.ActionLink("Terug naar het reserveren", "Reserveer")
@Html.ActionLink("Terug naar het hoofdmenu", "Index")