@model IEnumerable<FestivalApp.Model.Ticket>

@{
    ViewBag.Title = "TicketsSucces";
}

<h2>Tickets</h2>

<fieldset>
    <legend>Naam</legend>

    <div class="display-label" style="margin-bottom:5px; font-weight:bold;">
         Naam
    </div>
    <div class="display-field" style="margin-bottom:5px;">
        @User.Identity.Name
    </div>
</fieldset>

<table>
    <tr>
        <th>
            Type
        </th>
        <th>
            Aantal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}
</table>
